$color_bg: #F7F0EC;
$color_fg: #493C3B;

$color_a:  #A18E88;
$color_b:  #DE174E;
$color_c:  #83A9B2;

$color_0:  mix($color_fg, $color_bg, 5);
$color_1:  mix($color_fg, $color_bg, 10);
$color_2:  mix($color_fg, $color_bg, 30);
$color_3:  mix($color_fg, $color_bg, 50);

$header_height: 82px;

// Vendor
@import 'vendor/normalize';
@import 'vendor/jeet/index';
@import 'vendor/codemirror/index';
@import 'vendor/codemirror/base16-light';

// Modules
@import 'modules/functions';
@import 'modules/mixins';
@import 'modules/extends';
@import 'modules/buttons';
@import 'modules/type';
@import 'modules/form';

// App
@import 'app/body';
@import 'app/header';
@import 'app/browser';
@import 'app/editor';
