$color_bg: #FFFFFF;
$color_fg: #383737;
$color_0:  #20AA99;
$color_1:  #DB7561;
$color_2:  #65AACF;
$color_3:  #F2F5F8;
$color_4:  #DEE2E7;
$color_5:  #C6CCD2;
$color_6:  #B4BBC2;

// Vendor
@import 'vendor/normalize';
@import 'vendor/jeet/index';

// Modules
@import 'modules/functions';
@import 'modules/mixins';
@import 'modules/extends';
@import 'modules/buttons';
@import 'modules/type';
@import 'modules/form';

// App
@import 'app/body';
@import 'app/header';
@import 'app/browser';
@import 'app/editor';
