body {
  overflow-x: hidden;
  user-select: none;
  cursor: default;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  color: $color_fg;
  background: $color_bg;
}

.route {
  position: fixed;
  top: $header_height;
  bottom: 0;
  width: 100%;
}
