.app-header {
  $padding: 20px;
  $border: 2px;
  $line_height: $header_height - ($padding * 2) - $border;

  background: $color_fg;
  padding: $padding;
  border-bottom: 2px solid $color_b1;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  width: 100%;

  @include cf();

  nav {
    float: left;
  }

  h1 {
    margin: 0;
  }

  h1, span {
    $sep_width: 20px;

    color: $color_bg;
    font-size: 20px;
    float: left;
    font-weight: $bold;
    position: relative;

    padding: 0 10px;
    margin-right: $sep_width;

    transition: background 0.15s;

    &:hover {
      background: $color_f0;
    }

    &:active {
      box-shadow: inset 0 1px 3px rgba(#000, 0.1);
      transition-duration: 0;
      background: $color_f0;
    }

    &:after {
      display: block;
      position: absolute;
      right: -$sep_width;
      top: 0;

      content: '';
      width: $sep_width;
      text-align: center;

      font-family: 'entypo';
      font-size: 25px;
      color: $color_b;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: none;
      }
    }
  }

  h1, span, .button {
    line-height: $line_height;
  }

  .button-group {
    float: right;
  }
}
