# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
/rango

# Folders
_obj
_test
node_modules

/admin/dist/*.css
/admin/dist/*.js

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# Hugo folders
/content/**/*.md
/static
/public
