.button {
  $color: $color_a;

  background: $color;

  border: 0;
  outline: 0;

  color: $color_bg;
  font-weight: $semibold;
  font-size: 14px;

  line-height: 40px;
  padding: 0 40px;
  border-radius: 40px;

  transition: background 0.15s;

  &:hover {
    background: lighten($color, 5);
  }

  &:active {
    color: darken($color, 20);
    background: $color;
    box-shadow: inset 0 1px 3px rgba(#000, 0.3);
    transition-duration: 0;
  }
}

.button-primary {
  $color: $color_b;

  background: $color;

  &:hover {
    background: lighten($color, 5);
  }

  &:active {
    color: darken($color, 20);
    background: $color;
  }
}

.button-group {
  .button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.button[disabled] {
  background: transparent;
  color: rgba(#fff, 0.2);
  box-shadow: 0 0 0 2px rgba(#fff, 0.1);
}
