#group:after {
  content: "";
  display: table;
  clear: both;
}

#scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#000, 0.5);
    border: 0;
  }
}
