.route.browser {

  > div {
    position: absolute;
  }

  .browser-sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
  }

  .browser-table {
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
  }
}

.browser-sidebar {
  background: $color_0;
  padding: 20px;
  box-sizing: border-box;
  border-right: 2px solid $color_1;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    font-weight: bold;
    color: $color_c;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.browser-table {
  padding: 20px;

  table {
    width: 100%;
  }

  th {
    color: $color_3;
  }

  td {
  }

  td, th {
    text-align: left;
    font-size: 14px;
    line-height: 45px;
  }

  tr {
    border-bottom: 2px solid $color_1;
  }

  tbody tr {
    cursor: default;

    &:hover {
      background: $color_0;
    }
  }

  tr.selected {
    &, &:hover {
      background: $color_c;

      td {
        color: $color_bg;
      }
    }

    border-bottom-color: $color_bg;
  }

  td.name {
    font-weight: bold;
    font-size: 16px;
  }

  td.type {
    font-family: 'entypo';
    font-size: 36px;
    color: $color_c;
    text-align: center;
    width: 50px;
  }
}
