$sidebar_width: 300px;

.editor-metadata {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar_width;

  overflow-y: auto;

  background: $color_b0;
  padding: 20px;
  border-right: 2px solid $color_b1;
  box-sizing: border-box;
}

.editor-content {
  position: absolute;

  top: 0;
  left: $sidebar_width;
  right: 0;
  bottom: 0;

  box-sizing: border-box;
}

.editor-code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.editor-preview {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  bottom: 0;

  overflow-y: auto;

  padding: 0 1em;
  border-left: 2px solid $color_b1;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;

  blockquote {
    border-left: 4px solid $color_a;
    margin-left: 0;
    padding-left: 20px;
  }

  a {
    color: $color_c;
  }

  h2 {
    margin: 0;
    text-transform: none;
    font-size: 20px;  
    font-weight: $bold;
  }

}

.CodeMirror {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 20px;
  height: auto;

  color: $color_f0;
  font-family: Menlo, monospace;
  font-size: 14px;
  line-height: 24px;
  background: $color_bg;
}

.cm-header, .cm-strong {
  font-weight: bold;
}
