$color_bg: #FFFFFF;
$color_fg: #2B2B28;

$color_a:  #AA8C81;
$color_b:  #9E2D4A;
$color_c:  #25ABB0;

$color_b0:  mix($color_fg, $color_bg, 5);
$color_b1:  mix($color_fg, $color_bg, 10);
$color_b2:  mix($color_fg, $color_bg, 20);
$color_b3:  mix($color_fg, $color_bg, 40);

$color_f0:  mix($color_bg, $color_fg, 5);
$color_f1:  mix($color_bg, $color_fg, 10);
$color_f2:  mix($color_bg, $color_fg, 20);
$color_f3:  mix($color_bg, $color_fg, 40);

$header_height: 82px;

$regular: 400;
$semibold: 500;
$bold: 700;

// Vendor
@import 'vendor/normalize';
@import 'vendor/jeet/index';
@import 'vendor/codemirror/index';
@import 'vendor/codemirror/base16-light';

// Modules
@import 'modules/functions';
@import 'modules/mixins';
@import 'modules/extends';
@import 'modules/buttons';
@import 'modules/type';
@import 'modules/form';

// App
@import 'app/body';
@import 'app/header';
@import 'app/browser';
@import 'app/editor';
