.input {
  margin-bottom: 10px;

  label {
    display: block;
    color: $color_b3;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
  }
}

.input-text {
  input {
    width: 100%;
  }
}

.input-checkbox {
  @include cf();

  input {
    float: left;
    margin-right: 10px;
  }
  label {
    float: left;
    line-height: 16px;
  }
}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
  display: block;
  border: 2px solid $color_b2;
  height: 38px;
  line-height: 19px;

  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
  outline: 0;
  box-sizing: border-box;

  &:focus {
    border-color: $color_c;
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: $color_b2;
  border: 0;
  outline: 0;
  position: relative;

  &:checked {
    background: $color_c;

    &:after {
      content: '✓';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 25px;
      color: $color_bg;
      font-family: 'entypo';
      line-height: 16px;
      width: 16px;
      text-align: center;
    }
  }
}

.textarea {
  textarea {
    width: 100%;

    padding: 20px;
    box-sizing: border-box;
    border: 2px solid $color_b2;
    font-family: 'source code pro', monaco, monospace;
    font-weight: 500;
    font-size: 14px;
    outline: 0;

    &:focus {
      border-color: $color_b2;
    }
  }
}
